In [5]:
# Advanced Numbers
bin(1234)

'0b10011010010'

In [6]:
hex(1234)

'0x4d2'

In [7]:
2**4

16

In [8]:
pow(2,4)

16

In [9]:
pow(2,4,3) # x**y % z

1

In [10]:
abs(-3)

3

In [11]:
round(3.1)

3

In [13]:
round(3.9)

4

In [15]:
round(3.955, 2)

3.96

In [16]:
# Advanced Strings
s = 'hello world'
s.upper()

'HELLO WORLD'

In [17]:
s.title()

'Hello World'

In [18]:
s.capitalize()

'Hello world'

In [19]:
s.count('o')

2

In [20]:
s.find('o') # first occurrence

4

In [22]:
s.center(20, 'z') # centred hello world between z string to length 20

'zzzzhello worldzzzzz'

In [24]:
print('hello\tthis')

hello	this

In [25]:
'hello\thi'.expandtabs()

'hello   hi'

In [27]:
s = 'hello'
s.isalnum()

True

In [29]:
s.isalpha()

True

In [30]:
s.islower()

True

In [31]:
s.isspace()

False

In [32]:
s.istitle()

False

In [34]:
t = 'Hello'
t.istitle()

True

In [35]:
s.isupper()

False

In [36]:
'HELLO'.isupper()

True

In [37]:
s.endswith('o')

True

In [38]:
s[-1] == 'o'

True

In [39]:
s.split('e') # everything before and after

['h', 'llo']

In [40]:
'helloeoo'.split('e')

['h', 'llo', 'oo']

In [41]:
s.partition('e') # does split at first instance and returns split

('h', 'e', 'llo')

In [42]:
# Advanced Sets
s = set()
s.add(1)
s.add(2)

In [43]:
s

{1, 2}

In [44]:
s.add(2)
s

{1, 2}

In [46]:
s.clear()
s

set()

In [55]:
s = {1,2,3}
sc = s.copy()

In [56]:
s.clear()
sc

{1, 2, 3}

In [57]:
s = {1,2,3}
s.add(4)

In [61]:
s.difference(sc) # bigger.difference(smaller)

{4}

In [59]:
sc.difference(s)

set()

In [62]:
sc

{1, 2, 3}

In [63]:
s

{1, 2, 3, 4}

In [64]:
s1 = {1,2,3}
s2 = {1,4,5}

In [65]:
s1.difference_update(s2) # matching elements - {1} - returned first set after removing common elements/members
s1

{2, 3}

In [66]:
s = {1,2,3,4}
s.discard(2)

In [67]:
s

{1, 3, 4}

In [68]:
s.discard(12)
s

{1, 3, 4}

In [70]:
s1 = {1,2,3}
s2 = {1,2,4}
s1.intersection(s2)

{1, 2}

In [71]:
s1.intersection_update(s2) # s1 = intersection of s1 and s2
s1

{1, 2}

In [72]:
s1 = {1,2}
s2 = {1,2,4}
s3 = {5}
s1.isdisjoint(s2)

False

In [73]:
s1.isdisjoint(s3) # no intersection

True

In [74]:
s1

{1, 2}

In [75]:
s2

{1, 2, 4}

In [76]:
# s1 is subset of s2
s1.issubset(s2)

True

In [77]:
s2.issuperset(s1) # reverse of subset

True

In [78]:
s1.symmetric_difference(s2) # an element in exactly 1 of the sets

{4}

In [79]:
s1.union(s2)

{1, 2, 4}

In [80]:
s1.update(s2)

In [81]:
s1

{1, 2, 4}